@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
    --primary-color: #7c3aed;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
    --section-color: #eff6ff;
}

body {
    font-family: "Varela Round", sans-serif;
    margin: 0px;
    box-sizing: border-box;
    text-align: justify;
}

#heading_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--off-white);
    border-bottom-left-radius: 1rem;
}

hr {
    padding: 2rem;
    font-size: 1rem;
}

.link {
    text-decoration: none;
}

.list-non-bullet {
    list-style: none;
    padding: 0rem 1rem;
    display: inline;
    margin-left: -8px;
}

.navigation .link {
    color: var(--off-white);
}

.navigation .nav-pills {
    text-align: right;
    margin-left: 4px;
}

.navigation .nav-brand {
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--off-white);
}

.navigation .link-active {
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--off-white);
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 60%;
    display: block;
    margin: auto;
}

img {
    max-width: 250px;
    display: block;
    margin: auto;
    margin-right: 20rem;
}

.hero .hero-heading {
    text-align: center;
}

.hero .hero-heading {
    color: var(--primary-color);
    text-shadow: 2px 2px 4px var(--primary-color);
}

.hero-heading .middle {
    color: black;
    font-size: 3rem;
}

.hero-heading .end-text {
    color: var(--dark-gray);
    text-shadow: 2px 2px 4px var(--dark-gray);
}

.section-content .h {
    max-width: 600px;
    margin: auto;
}

section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.section .container-center {
    max-width: 600px;
    margin: auto;
}

.section .container {
    padding: 0rem 1rem;
}

.ow {
    background-color: var(--section-color);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    border-top-right-radius: 1.5rem;
    color: var(--off-white);
    /* margin-bottom: 0%; */
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .link {
    color: var(--off-white);
}

.section .section-heading {
    color: var(--primary-color);
}

.section .section-content {
    color: var(--dark-gray);
}

.link-secondary {
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.link-secondary:hover {
    background-color: var(--dark-gray);
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--off-white);
}

.link-primary {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--off-white);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.link-primary:hover {
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--off-white);
}

.margi-md {
    margin: 2rem;
}


/* projects heading */

.project-div {
    color: var(--dark-gray);
    font-weight: bold;
    font-size: xx-large;
    word-spacing: 1.5rem;
    letter-spacing: 1.5rem;
    padding: 3.4rem;
}

.project-list-heading {
    color: var(--primary-color);
    display: inline;
    width: 100%;
    position: absolute;
    left: 0.5rem;
    margin-top: 12px;
    margin-left: -8px;
}

.parent {
    position: relative;
}

.main-div-project {
    display: flex;
    max-width: 70%;
    border-radius: 3rem;
    background-color: lightblue;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 2px 3px #888888;
    /* border:2px solid black; */
}

.project-section-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-internal-div {
    padding: 2rem;
    max-width: 80%;
}

.project-link-padding {
    display: flex;
    padding: 1rem;
    margin-top: 0px;
    flex-direction: row;
    flex-flow: column;
}

.project-link-padding a {
    /* display: block; */
    margin: 4px;
}

headerdiv {
    padding: 2px 0;
}